@charset "ISO-8859-1";

.encabezado {
    background: #62c06d;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0.5rem 1rem, rgba(255, 255, 255, 0.15) 0px -1px 0px inset;
    position: fixed;
    z-index: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mensaje-bienvenida h1 {
	font-size: 20px;
	margin-left: 35px;
	color: cornsilk;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navBar-menu {
	width: 100%;
	height: inherit;
}

.contenedor-links-menu {
	display: flex;
	list-style: none;
	justify-content: flex-end;
	width: 100%;
	margin-right: 20px;
	margin-top: revert;
	align-items: center;
}

.slider-container li {
    text-align: center;
}

.links-menu {
	font-size: 20px;
	padding: 0 18px;
	color: papayawhip;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	transition: all 0.4s ease-in-out;
}

.links-menu:hover {
	font-size: 21px;
	color: papayawhip;
	text-decoration: none;
}

.contenedor-img {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 65px;
}

.imagen-menu {
    width: auto;
    height: 64px;
}

.contenedor-menu {
    margin-left: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}

.imagen-menu:hover {
    cursor: pointer;
}

.Z-footer {
      background-color: #62c06d;
      /*height: 15%;*/
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.container-social-media {
	  display: flex;
}

.social-media{
	margin: 0px 24px 0px 0px;
}