@charset "ISO-8859-1";

.div-btn-logout{
	margin-top: 20px;
	margin-right: 5px;
}

* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif; 
}

.panel-cliente{
	
display: flex;
	
flex-direction: row;
	
background: aliceblue;
	
align-items: center;
	
justify-content: space-evenly;
	
flex-wrap: wrap;
}


.panel-cliente img{
height: 200px;	
width: 200px;
}


.info-cliente{font-size: 18px;font-weight: 400;display: flex;flex-direction: column;}

.info-cuenta{
	
display: flex;
	
flex-direction: column;
	
background: #62c06d;
	
justify-content: space-evenly;
	
border-radius: 9%;
	
padding: 35px;
	
padding-bottom: 15px;
	
flex-wrap: wrap;
	
margin: 50px;
}


.info-cuenta label{
	
	color: white;
	font-size: 45px;
}


.form-mostrar-cuentas{
	display: flex;
	background: #62c06d;
	border-radius: 19px;
	padding: 25px;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
}

.buttons{
		padding: 4px 50px;
	background-color: #ddba79;
	border-radius: 37px;
	margin-top: 20px;
}

.form-mostrar-cuentas select{
	font-size: 20px;
}

.links-menu-home {
	
    display: block;
    margin: 10px 0 0 0;
    padding: 0 !important;
	
}

.links-menu-home:hover{
	backgroundcolor: ;
}
.cartelera-avisos{
	
background: #713ddb;
	
color: white;
	
width: 100%;
	
display: flex;
	
font-size: 22px;
	
margin-top: 50px;
	
padding: 30px;
	
flex-wrap: wrap;
	
flex-direction: column;
	
align-items: center;
	
align-content: center;
}

.container-rep-mov{
	
display: flex;
	
flex-direction: column;
	
margin-top: 110px;
	
flex-wrap: wrap;
}

.Z-footer{
	
	
	
}