@charset "ISO-8859-1";


.eliminar-button {
	width: 80px;
    border-radius: 5px;
    border: none;
    padding: 3px;
    background-color: #dc3545;
    color: papayawhip;
    cursor: pointer;
    font-size: 15px;
}

.eliminar-button:hover {
	background-color: #b42c39;;
}

.aprobar-button {
	width: 80px;
    border-radius: 5px;
    border: none;
    padding: 3px;
    background-color: #28a745;
    color: papayawhip;
    cursor: pointer;
    font-size: 15px;
}

.aprobar-button:hover {
	background-color: #1f8537;
}

#buttonRechazar{
    width: 80px;
    border: 2px solid #dc3545;
    border-radius: 5px;
    padding: 3px;
    background-color:white;
    color: #dc3545;
    cursor: pointer;
    font-size: 15px;
}

#buttonRechazar:hover {
    background-color: #f2f2f2;;
}

#buttonAprobar{
    width: 80px;
    border: 2px solid #28a745;
    border-radius: 5px;
    padding: 3px;
    background-color:white;
    color: #28a745;
    cursor: pointer;
    font-size: 15px;
}

#buttonAprobar:hover {
    background-color: #f2f2f2;;
}

.confirm-message {
	text-align: center;
	font-weight: 200px;
	font-style: italic;
	padding: 15px;
}

.table-header {
	color: #003400;
	font-size: 15px;
	font-weight: 300px;
	border-radius: 5px;
}

.pagination {
    --bs-pagination-color: #28a745;
    --bs-pagination-hover-color: #28a745;
    --bs-pagination-focus-color: #28a745;
    --bs-pagination-active-bg: #28a745;
    --bs-pagination-active-border-color: #28a745;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.page-link {
    color: #28a745;

h2 {
	text-align: center;
	color: black;
	font-size: 55px;
	margin-bottom: 25px;
}
